body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E0E0E0;
}

.footer {
    
    background-color: rosybrown;
    z-index: 5;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
   
}
.imag{
    width: 40%;
    background-color: rgb(195, 198, 200);
    margin: 2%;
    display: flex;
    justify-content: flex-start;
    
}

.content{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}