body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E0E0E0;
}

.icg{
    display: flex;
    flex-direction: column;
}

.picturebookin{
    display: flex;
    flex-direction: column;
    background-color:  rgb(132,136,139);
    width: 50vw;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-top: 110px;
}

.header{
    background-color: rosybrown;
}

.content{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.footer {
    
    background-color: rosybrown;
    z-index: 5;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
   
}

.amountbookin{
    border: 2px solid black;
    padding: 1% 2% 1% 2%;
    margin : 2%;
    border-radius: 5px;
}